@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,500&display=swap');

:root{
    --color-ligth-50: #f8fafc;

    --colo-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-100: #000;

    --color-purple-50: #7c3aed;
    --color-puple-100: #a855f7;
    --color-puple-200: #bf46ef;

    --color-gradient: linear-gradient(90deg, var(--color-ligth-50), var(--color-puple-100), var(--color-puple-200))
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background: var(--color-gradient);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form{
    background-color:  var(--color-ligth-50);
    display: flex;
    flex-direction: column ;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px; /* da espacameto iguais nos elementos */ 
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0,336);
    height: fit-content;
}

#form_header{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#form_header h1{
    font-size: 40px;
    position: relative;
}

#form_header h1::before{
    position: absolute;
    content: '';
    width: 40px;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 7px;
    border-radius: 5px;
}

#mode_icon{
    cursor: pointer;
    font-size: 20px;
}

#social_media{
    display: flex;
    justify-content: space-around;
}

#social_media img{
  width: 45px;  
}


#social_media img:hover{
    transform: scale(1.2); 
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label{
    font-size: 14px;
    color: var(--colo-dark-50);
}

.input-field{
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 3px;
   cursor: text; 
   border-bottom: 1px solid var(--color-purple-50);
}

.input-field i{
    font-size: 18px;
    color: var(--color-dark-100);
}

.input-field input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus{ /* Tirando as bordas dos inputs */
    outline: none;
}

#forget_passaword a {
    text-decoration: none;
    font-size: 12px;
    color: var(--colo-dark-50);
}

#forget_passaword a:hover{
    color: var(--color-purple-50);
}

#login_button{
    border: none;
    background: var(--color-gradient);
    color: var(--color-ligth-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login_button:hover{
   transform: scale(1.05); 
}

